@page
@model IndexModel
@using AppCore.Utilities

<!-- ======= Hero Section ======= -->
<section id="hero" class="hero d-flex align-items-center section-bg">
    <div class="container">
        <div class="row justify-content-between gy-5">
            <div class="col-lg-5 order-2 order-lg-1 d-flex flex-column justify-content-center align-items-center align-items-lg-start text-center text-lg-start">
                <h2 data-aos="fade-up"><localize key="Title" /><br><localize key="SubTitle" /></h2>
                <p data-aos="fade-up" data-aos-delay="100"><localize key="Parghraph1" /></p>
                <div class="d-flex" data-aos="fade-up" data-aos-delay="200">
                    <a href="#menu" class="btn-book-a-table"><localize key="Check Our Menu" /></a>
                    @*  <a href="https://www.youtube.com/watch?v=LXb3EKWsInQ" class="glightbox btn-watch-video d-flex align-items-center"><i class="bi bi-play-circle"></i><span>Watch Video</span></a>*@
                </div>
            </div>
            <div class="col-lg-5 order-1 order-lg-2 text-center text-lg-start">
                <img src="@Model.TopRightMedia.PhotoPath" class="img-fluid" alt="@Model.TopRightMedia.Alt" data-aos="zoom-out" data-aos-delay="300">
            </div>
        </div>
    </div>
</section><!-- End Hero Section -->

<main id="main">

    <!-- ======= About Section ======= -->
    <section id="about" class="about">
        <div class="container" data-aos="fade-up">

            <div class="section-header">
                <h2><localize key="About Us" /></h2>
                <p> <localize key="Learn More" /> <span><localize key="About Us" /></span></p>
            </div>

            <div class="row gy-4">
                <div class="col-lg-7 position-relative about-img" style="background-image: url(@Model.LeftImageMedia.PhotoPath) ;" data-aos="fade-up" data-aos-delay="150">
                    <div class="call-us position-absolute">
                        <h4><localize key="Order Now" /></h4>
                        @foreach (var phone in Model.BusinessInfo.PhoneNumbers)
                        {
                           <a href="tel:@phone.FormattedNumber"> <p>@phone.FormattedNumber</p></a>

                        }
                    </div>
                </div>
                <div class="col-lg-5 d-flex align-items-end" data-aos="fade-up" data-aos-delay="300">
                    <div class="content ps-0 ps-lg-5">
                        <p class="fst-italic">
                            <localize key="Parghraph2" />
                        </p>
                        <ul>
                            <li><i class="bi bi-check2-all"></i> <localize key="Item1" /></li>
                            <li><i class="bi bi-check2-all"></i> <localize key="Item2" /></li>
                            <li><i class="bi bi-check2-all"></i> <localize key="Item3" /></li>
                        </ul>
                        <p>
                            
                            <localize key="Parghraph3" />
                        </p>

                        <div class="position-relative mt-4">
                            <img src="@Model.RightImageMedia.PhotoPath" class="img-fluid" alt="@Model.RightImageMedia.Alt">

                        </div>
                    </div>
                </div>
            </div>

        </div>
    </section><!-- End About Section -->
    <!-- ======= Why Us Section ======= -->
    <section id="why-us" class="why-us section-bg">
        <div class="container" data-aos="fade-up">

            <div class="row gy-4">

                <div class="col-lg-4" data-aos="fade-up" data-aos-delay="100">
                    <div class="why-box">
                        <h3> <localize key="Why Choose Yummy?" /></h3>
                        <p>
                            <localize key="Parghraph4" />
                           
                        </p>
                        
                    </div>
                </div><!-- End Why Box -->

                <div class="col-lg-8 d-flex align-items-center">
                    <div class="row gy-4">

                        <div class="col-xl-4" data-aos="fade-up" data-aos-delay="200">
                            <div class="icon-box d-flex flex-column justify-content-center align-items-center">
                                <i class="bi bi-clipboard-data"></i>
                                <h4> <localize key="WhyChooseUs1Title" /></h4>
                                <p> <localize key="WhyChooseUs1SubTitle" /></p>
                            </div>
                        </div><!-- End Icon Box -->

                        <div class="col-xl-4" data-aos="fade-up" data-aos-delay="300">
                            <div class="icon-box d-flex flex-column justify-content-center align-items-center">
                                <i class="bi bi-gem"></i>
                                <h4> <localize key="WhyChooseUs2Title" /></h4>
                                <p><localize key="WhyChooseUs2SubTitle" /></p>
                            </div>
                        </div><!-- End Icon Box -->

                        <div class="col-xl-4" data-aos="fade-up" data-aos-delay="400">
                            <div class="icon-box d-flex flex-column justify-content-center align-items-center">
                                <i class="bi bi-inboxes"></i>
                                <h4> <localize key="WhyChooseUs3Title" /></h4>
                                <p> <localize key="WhyChooseUs3SubTitle" /></p>
                            </div>
                        </div><!-- End Icon Box -->

                    </div>
                </div>

            </div>

        </div>
    </section><!-- End Why Us Section -->
    <!-- ======= Menu Section ======= -->
    <section id="menu" class="menu">
        <div class="container" data-aos="fade-up">

            <div class="section-header">
                <h2><localize key="Our Menu" /></h2>
                <p><localize key="Check Our" /> <span><localize key="Yummy Menu" /></span></p>
            </div>

            <ul class="nav nav-tabs d-flex justify-content-center" data-aos="fade-up" data-aos-delay="200">

                @foreach (var (menusection, index) in Model.Menu.WithIndex())
                {

                    <li class="nav-item">
                        <a class="nav-link @(index==0? "active show":"")" data-bs-toggle="tab" data-bs-target="#_@menusection.Id">
                            <h4>@menusection.Name</h4>
                        </a>
                    </li>

                    <!-- End tab nav item -->
                }



            </ul>

            <div class="tab-content" data-aos="fade-up" data-aos-delay="300">

                @foreach (var (menusection, index) in Model.Menu.WithIndex())
                {
                    <div class="tab-pane fade @(index==0? "active show":"")" id="_@menusection.Id">

                        <div class="tab-header text-center">
                            <p> <localize key="Menu" /></p>
                            <h3>@menusection.Name</h3>
                        </div>

                        <div class="row gy-5">
                            @foreach (var menuItem in menusection.MenuItems)
                            {
                                <div class="col-lg-4 menu-item">
                                    <a href="@menuItem.PhotoPath" class="glightbox"><img src="@menuItem.PhotoPath" class="menu-img img-fluid" alt="@menuItem.Name"></a>
                                    <h4>@menuItem.Name</h4>
                                    @if (!string.IsNullOrEmpty(menuItem.Description))
                                    {
                                        <p class="ingredients">
                                            @menuItem.Description
                                        </p>
                                    }
                                    <p class="price">
                                        @menuItem.FormattedPrice
                                    </p>
                                </div>

                                <!-- Menu Item -->
                            }



                        </div>
                    </div>

                    <!-- End Starter Menu Content -->
                }



            </div>

        </div>
    </section><!-- End Menu Section -->
    <!-- ======= Testimonials Section ======= -->
    <section id="testimonials" class="testimonials section-bg">
        <div class="container" data-aos="fade-up">

            <div class="section-header">
                <h2> <localize key="Testimonials" /></h2>
                <p> <localize key="What Are They" /> <span> <localize key="Saying About Us" /></span></p>
            </div>

            <div class="slides-1 swiper" data-aos="fade-up" data-aos-delay="100">
                <div class="swiper-wrapper">

                    @foreach (var testmoinal in Model.Testimonials)
                    {
                        <div class="swiper-slide">
                            <div class="testimonial-item">
                                <div class="row gy-4 justify-content-center">
                                    <div class="col-lg-8">
                                        <div class="testimonial-content">
                                            <p>
                                                <i class="bi bi-quote quote-icon-left"></i>
                                                @testmoinal.Comment
                                                <i class="bi bi-quote quote-icon-right"></i>
                                            </p>
                                            <h3>@testmoinal.Name</h3>
                                            @*  <h4>@testmoinal.</h4>*@
                                            @* <div class="stars">
                                        <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
                                        </div>*@
                                        </div>
                                    </div>
                                    @*   <div class="col-lg-2 text-center">
                                <img src="/assets/img/testimonials/testimonials-1.jpg" class="img-fluid testimonial-img" alt="">
                                </div>*@
                                </div>
                            </div>
                        </div>

                        <!-- End testimonial item -->
                    }



                </div>
                <div class="swiper-pagination"></div>
            </div>

        </div>
    </section><!-- End Testimonials Section -->
    <!-- ======= Events Section ======= -->
    <section id="events" class="events">
        <div class="container-fluid" data-aos="fade-up">

            <div class="section-header">
                <h2> <localize key="Events" /></h2>
                <p><localize key="Share" /> <span><localize key="Your Moments" /></span><localize key="In Our Restaurant" /> </p>
            </div>

            <div class="slides-3 swiper" data-aos="fade-up" data-aos-delay="100">
                <div class="swiper-wrapper">
                    @foreach (var item in Model.Events)
                    {

                        <div class="swiper-slide event-item d-flex flex-column justify-content-end" style="background-image: url('@item.PhotoPath')">
                            <h3>@item.Title</h3>

                            <p class="description">
                                @item.Body
                            </p>
                        </div>

                        <!-- End Event item -->
                    }



                </div>
                <div class="swiper-pagination"></div>
            </div>

        </div>
    </section><!-- End Events Section -->
    <!-- ======= Chefs Section ======= -->
    <section id="chefs" class="chefs section-bg">
        <div class="container" data-aos="fade-up">

            <div class="section-header">
                <h2> <localize key="Team" /></h2>
                <p><localize key="Our" /> <span> <localize key="Proffesional" /> </span><localize key="Team" /></p>
            </div>

            <div class="row gy-4">
                @foreach (var teamMember in Model.Team)
                {

                    <div class="col-lg-4 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="100">
                        <div class="chef-member">
                            <div class="member-img">
                                <img src="@teamMember.PhotoPath" class="img-fluid" alt="@teamMember.Alt">

                            </div>
                            <div class="member-info">
                                <h4>@teamMember.Name</h4>
                                <span>@teamMember.Posistion</span>

                            </div>
                        </div>
                    </div>

                    <!-- End Chefs Member -->
                }




            </div>

        </div>
    </section><!-- End Chefs Section -->
    <!-- ======= Gallery Section ======= -->
    <section id="gallery" class="gallery section-bg">
        <div class="container" data-aos="fade-up">

            <div class="section-header">
                <h2> <localize key="gallery" /></h2>
                <p><span><localize key="Our Gallery" /></span></p>
            </div>

            <div class="gallery-slider swiper">
                <div class="swiper-wrapper align-items-center">

                    @foreach (var photo in Model.Galleries)
                    {
                        <div class="swiper-slide"><a class="glightbox" data-gallery="images-gallery" href="@photo.LargePhotoPath"><img src="@photo.SmallPhotoPath" class="img-fluid" alt=""></a></div>
                    }

                </div>
                <div class="swiper-pagination"></div>
            </div>

        </div>
    </section><!-- End Gallery Section -->
    <!-- ======= Contact Section ======= -->

    <section id="contact" class="contact">
        <div class="container" data-aos="fade-up">
            <alert render-mode="Bootstrap5"></alert>
            <div class="section-header">
                <h2> <localize key="Contact" /></h2>
                <p> <localize key="Need Help?" /><span><localize key="Contact Us" /></span></p>
            </div>

            <div class="mb-3">
                <iframe style="border:0; width: 100%; height: 350px;" src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d12097.433213460943!2d-74.0062269!3d40.7101282!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xb89d1fe6bc499443!2sDowntown+Conference+Center!5e0!3m2!1smk!2sbg!4v1539943755621" frameborder="0" allowfullscreen></iframe>
            </div><!-- End Google Maps -->

            <div class="row gy-4">

                <div class="col-md-6">
                    <div class="info-item  d-flex align-items-center">
                        <i class="icon bi bi-map flex-shrink-0"></i>
                        <div>
                            <h3> <localize key="Our Address" /></h3>
                            <p>@Model.BusinessInfo.Address</p>
                        </div>
                    </div>
                </div><!-- End Info Item -->

                <div class="col-md-6">
                    <div class="info-item d-flex align-items-center">
                        <i class="icon bi bi-envelope flex-shrink-0"></i>
                        <div>
                            <h3> <localize key="Email Us" /></h3>
                            <p>@Model.BusinessInfo.ContactUsEmail</p>
                        </div>
                    </div>
                </div><!-- End Info Item -->

                <div class="col-md-6">
                    <div class="info-item  d-flex align-items-center">
                        <i class="icon bi bi-telephone flex-shrink-0"></i>
                        <div>
                            <h3> <localize key="Call Us" /></h3>
                            @foreach (var phone in Model.BusinessInfo.PhoneNumbers)
                            {

                                <p>@phone.FormattedNumber</p>
                            }
                        </div>
                    </div>
                </div>

                <!-- End Info Item -->

                <div class="col-md-6">
                    <div class="info-item  d-flex align-items-center">
                        <i class="icon bi bi-share flex-shrink-0"></i>
                        <div>
                            <h3> <localize key="Opening Hours" /></h3>
                            <div>
                                @Model.BusinessInfo.OpeningHours
                            </div>
                        </div>
                    </div>
                </div>

                <!-- End Info Item -->

            </div>

            <form method="post" role="form" class="php-email-form p-3 p-md-4">
                <div class="row">
                    <div class="col-xl-4 form-group">
                        <input type="text" asp-for="contactUsEmail.FullName" class="form-control" placeholder="Your Name" required>
                        <span class="text-bg-danger" asp-validation-for="contactUsEmail.FullName"></span>
                    </div>
                    <div class="col-xl-4 form-group">
                        <input type="email" class="form-control" asp-for="contactUsEmail.Email" placeholder="Your Email" required>
                        <span class="text-bg-danger" asp-validation-for="contactUsEmail.Email"></span>
                    </div>
                    <div class="col-xl-4 form-group">
                        <input type="text" class="form-control" asp-for="contactUsEmail.Phone" placeholder="Your Phone Number" required>
                        <span class="text-bg-danger" asp-validation-for="contactUsEmail.Phone"></span>
                    </div>
                </div>
                <div class="form-group">

                    <select class="form-control" id="Subject" asp-for="contactUsEmail.Subject">
                        <option value="" selected disabled>Subject</option>
                        <option value="Contact Us">Contact Us</option>
                        <option value="Order">Order</option>
                        <option value="Complain">Complain</option>
                    </select>
                    <span class="text-bg-danger" asp-validation-for="contactUsEmail.Subject"></span>
                </div>
                <div class="form-group">

                    <select class="form-control" id="Department" asp-for="contactUsEmail.Department">
                        <option value="" selected disabled>Select Department</option>
                        <option value="Chefs">Chefs</option>
                        <option value="Casher">Casher</option>
                        <option value="Staff">Delivery</option>
                    </select>

                </div>
                <div class="form-group">
                    <textarea class="form-control" asp-for="contactUsEmail.Message" rows="5" id="textArea" placeholder="Message" required></textarea>
                    <span class="text-bg-danger" asp-validation-for="contactUsEmail.Message"></span>
                </div>
                <div class="my-3">

                    @* <div class="loading">Loading</div>
                    <div class="error-message"></div>
                    <div class="sent-message">Your message has been sent. Thank you!</div>*@
                </div>
                <div class="text-center"><button type="submit">Send Message</button></div>
            </form>
            <!--End Contact Form -->

        </div>
    </section>

    <!-- End Contact Section -->

</main>

<!-- End #main -->
