@{
    Layout = null;
}
@model DynamicData.Admin.DTO.UserModel
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div>
        Dear @Model.Email,
        <br/>
        <br />
        An admin account has been created for you to
        <br />
        <a href="@Model.LoginLink" target="_blank">@Model.LoginLink</a>
        <br />
        Account Email : @Model.Email
        <br />
        Account Password: @Model.Password
        <br/>
        To edit your account password, visit your Account Profile
    </div>
</body>
</html>
